---
import Social from "./Social.astro";

const username = "leandropap";
---

<footer>
    <p>
        <Social platform="Twitter" username={username} />
        <Social platform="Github" username={username} />
        <Social platform="YouTube" username={username} />
        <Social platform="LinkedIn" username="/in/leandro-pappalardo" />
    </p>
</footer>
