---
import Nav from "./Nav.astro";
import Burger from "./Burger.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
    <nav>
        <Burger />
        <ThemeIcon />
        <Nav />
    </nav>
</header>
